.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 1rem 2rem;
  height: 70px;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-icon {
  aspect-ratio: 1 / 1;
}

.header-title {
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #1c1c1c;
}

.header-nav {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 1rem; */
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 0.875rem;
}

.nav-icon {
  display: none;
  cursor: pointer;
}

.start-to-record {
  background: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.color-white {
  color: white;
}

.hero-container {
  background-image: url("../public/hero.webp");
  background-size: cover;
  background-position-y: 30%;
  /* background-position: center; */
  height: 100vh;
  background-repeat: no-repeat;
  margin-top: -70px;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-items .start-to-record {
  display: inline-block;
  color: black;
  padding: 1rem;
  border-radius: 2rem;
}

.hero-msgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  white-space: nowrap;
}

.hero-title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Noto Sans JP", sans-serif;
}

.hero-desc {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin-top: 0.5rem;
}

.overview {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 8rem;
}

.overview-title {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.overview-msgs {
  margin-bottom: 4rem;
  font-size: 1.25rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #e4e4e4;
}

.overview-imgs {
  /* グリッドで4列2行のレイアウト */
  /* スマホは2列4行, paddingも2rem, 1remくらい, 画像サイズも抑える */
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}

/* 引き延ばしを抑える */
.overview-imgs img {
  object-fit: cover;
}

.feature-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.feature-overview-msgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.feature-overview-title {
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(to right, #fe883d, #fb3596, #eb00fa);
  color: transparent;
  background-clip: text;
  font-weight: 500;
  margin-bottom: 1rem;
}

.feature-overview-desc {
  color: #5d5d5d;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
}

.feature-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0;
}

.feature-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.feature-item img {
  object-fit: cover;
  width: 400px;
  height: 380px;
  height: auto;
}

.feature-item-mobile img {
  object-fit: cover;
}

.feature-num {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #5d5d5d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.feature-num::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* テキストの下に配置 */
  width: 40px; /* 下線の長さを設定 */
  height: 1px; /* 下線の太さを設定 */
  background-color: #5d5d5d; /* 下線の色を設定 */
}

.feature-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1c1c1c;
  font-family: "Noto Sans JP", sans-serif;
}

.feature-desc {
  color: #5d5d5d;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.feature-overview-mobile {
  display: none;
  margin: 2rem 1rem;
}

.feature-overview-msgs-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
}

.feature-title-mobile {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #1c1c1c;
  font-family: "Noto Sans JP", sans-serif;
}

.feature-desc-mobile {
  color: #5d5d5d;
  margin-bottom: 2rem;
}

/* ユーザーの声 */
.user-voices {
  padding: 4rem;
}

.user-voice-card-container-wrapper {
  display: inline-flex; 
  padding: 0 2rem;
}

.user-voices-container {
  margin: 4rem 0;
  padding: 4rem 0;
  background: #f4f4f4;
  max-width: 1080px;
  height: 775px;
  border-radius: 1rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.user-voices-msgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.user-voices-title {
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(to right, #fe883d, #fb3596, #eb00fa);
  color: transparent;
  background-clip: text;
  font-weight: 500;
  margin-bottom: 1rem;
}

.user-voices-desc {
  color: #5d5d5d;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
}

.user-voice-card-container {
  display: flex;
  gap: 2rem;
  /* overflow-x: auto; */
}

/* .user-voice-card-container:first-child {
  padding-left: 2rem;
}
.user-voice-card-container:last-child {
  margin-right: 2rem;
} */

.user-voice-card {
  width: 372px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.user-voice-img {
  width: 372px;
  height: 250px;
  overflow: hidden;
}

.user-voice-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* height: 250px; */
}

.user-voice-info {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  gap: 1rem;
  height: 100%;
}

.user-profile {
  color: #5d5d5d;
}

.user-voice {
  color: #1c1c1c;
}

.user-voices-mobile {
  display: none;
}

.user-voices-container-mobile {
  padding: 4rem 0;
  background: #f4f4f4;
  width: 100%;
  margin: 0 auto;
}

.user-voice-card-container-mobile {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
}

.user-voice-card-mobile {
  width: 250px;
  height: 395px;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.user-voice-img-mobile {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.user-voice-card-mobile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-voice-info-mobile {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  gap: 1rem;
  height: 100%;
}

.call-to-action {
  background-image: url("../public/call_action_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

@media (max-width: 480px) {
  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .nav-icon {
    display: block;
  }

  .nav-menu .nav-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .nav-menu.active {
    display: flex;
  }

  .start-to-record {
    color: black;
    padding: 1rem;
    border-radius: 2rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-desc {
    font-size: 1rem;
  }

  .overview {
    padding: 2rem 1rem;
  }

  .overview-title {
    font-size: 1.25rem;
  }

  .overview-imgs {
    /* グリッドで4列2行のレイアウト */
    /* スマホは2列4行, paddingも2rem, 1remくらい, 画像サイズも抑える */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .overview-imgs img {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .feature-overview {
    padding: 2rem 1rem;
    display: none;
  }

  .feature-overview-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-voices {
    display: none;
  }

  .user-voices-mobile {
    display: block;
  }
}
